<!DOCTYPE HTML>

<head>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" type="text/css" href="static/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="static/index.js"></script>
</head>

<body>

    <input id="input" type="text">
    <button onclick="sendMessageToServer()">send message to server</button>
    <div>
        response:
    </div>
    <div id="server_response">
    </div>

    <div id="chart_test_container">
        <canvas id="firstChart"></canvas>
    </div>

    <div id="laundromats">

    </div>

</body>

