* {
    font-family: Verdana, Geneva, sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: rgb(21, 25, 31);
    overflow: visible;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
}

.header {
    font-size: 50px;
    color: rgb(0, 115, 10);
    text-align: center;
}

.lmcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: space-around;
    justify-content: space-around;
}

.devcontainer {
    background-color: rgb(46, 57, 74);
    color: rgb(0, 170, 35);

    width: 250px;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
}

