
.test {
    color: red;
}

body {
    margin: 0;
    height: 100%;
    background-color: white;
    overflow: visible;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
}

.chart_container {
    max-width: 300px;
}

.device_list_title {
    font-weight: bold;
}

.device_on {
    color: red;
}

.device_off {
    color: green;
}

.device_list {
    max-height: 0px;
    overflow: hidden;
}

.device_list.open {
    max-height: 3000000px;
}

